<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>pyshop</title>-->
<!--</head>-->
<!--<body>-->
{% extends 'base.html' %}
{% block content %}
    <h1>Products</h1>
    <ul>
    <!--    templaate tag in django-->
    <!--    looping using the dictionary-->
        {% for product in products %}
        <li> {{ product.image_url }} </li>

        <li>{{ product.name }}  {{ product.price }} {{ product.stock }} {{ product.image_url }}</li>
        {% endfor %}
    <!--     <li>item 2 </li>-->
    <!--     <li>item 3</li>-->
    </ul>
{% endblock %}
<!--</body>-->
<!--</html>-->