<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>pyshop</title>-->
<!--</head>-->
<!--<body>-->
{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col">

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
      {% endfor %}
</div>
<!--    <ul>-->
<!--    templaate tag in django-->
<!--    looping using the dictionary-->

<!--        <li> {{ product.image_url }} </li>-->
<!--        <li> {{ product.stock }} </li>-->
<!--        <li>{{ product.price }}  </li>-->

<!--        <li>{{ product.name }} {{ product.price }}   </li>-->

<!--     <li>item 2 </li>-->
<!--     <li>item 3</li>-->
<!--    </ul>-->
{% endblock %}
<!--</body>-->
<!--</html>-->